<%= turbo_stream.append "messages" do %>
  <article class="user-message">
    <%= @message_content %>
  </article>

  <article id="<%= @stream_id %>"
           class="assistant-message"
           data-controller="stream-message"
           data-stream-message-message-id-value="<%= @stream_id %>"
           data-scroll-container>
    <div class="loader"></div>
  </article>
<% end %>
