<main data-controller="messages">
  <section>
    <turbo-frame id="messages">
    </turbo-frame>
  </section>

  <turbo-frame id="new_message">
    <%= render 'message_form' %>
  </turbo-frame>
</main>
